@model MVC._3SI.SalesForce.Models.ProfileModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @*<div ng-app="myApp" ng-controller="ProfileController">
        <h1>{{myWelcome}}</h1>
        {{status}}
        <div>{{getProfile}}</div>
        <button ng-click="getProfile()">Test Angular</button>
        <a href="Login/Profile">
            <input type="button" value="Click Me" />
        </a>
        <button href="#myModal" id="openBtn" data-toggle="modal" class="btn btn-default btn-primary">Groups</button>
        <div class="modal fade" id="myModal" style="">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title ">Groups</h3>
                    </div>
                    <div class="modal-body ">
                        <table id="example" class="table table-hover table-responsive">
                            <thead id="tblHead">
                                <tr>
                                    <th class="sorting">Group's Name</th>
                                    <th>Members</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="group in Groups">
                                    <td><a style="font-weight: bold;" href="{{group.link}}">{{group.name}}</a></td>
                                    <td>{{group.member}}</td>
                                    <td class="text-right"><button class="btn btn-default btn-responsive">Action</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.modal-body -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>*@

<div id="profile">
    <div id="Menu_left" class="col-md-2 col-xs-3">
        <div>
            <ul class="removePadding" style="list-style-type:none">
                <li><img src=@Model.profileInfo.photo.mediumPhotoUrl class="img-thumbnail" alt="Cinque Terre" width="304" height="236"> <br /></li>
                <li class="fontBold">
                    <span class="glyphicon glyphicon-user"> </span>
                    <span>@Model.profileInfo.displayName</span>
                </li>
                <li class="fontBold">
                    <span class="glyphicon glyphicon-briefcase"> </span>
                    @Model.profileInfo.title
                </li>
                <li class="fontBold"><span class="glyphicon glyphicon-phone-alt"></span>
                    Contact
                </li>
                <li>
                    @foreach (var phoneNum in @Model.profileInfo.phoneNumbers)
                    {
                       @phoneNum.phoneNumber <span class="textColorGray">( @phoneNum.phoneType )</span> <br />
                    }
                </li>
                <li>@Model.profileInfo.address.street</li>
                <li>@Model.profileInfo.address.city</li>
                <li>@Model.profileInfo.address.state</li>
                <li>@Model.profileInfo.address.country</li>
                <li class="fontBold">
                    <p>OverView</p>
                    @Model.profileInfo.aboutMe
                </li>
                <li class="fontBold">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    Followers
                </li>
                <li><span class="fontBold"> @Model.profileInfo.followingCounts.total</span> Following</li>
                <li><span class="fontBold">@Model.profileInfo.groupCount </span>Group</li>
                <li class="fontBold">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    Contribution
                </li>
                <li><span class="fontBold">@Model.profileInfo.chatterActivity.likeReceivedCount</span> Like received</li>
                <li><span class="fontBold">@Model.profileInfo.chatterActivity.commentReceivedCount</span> Comment received</li>
                <li><span class="fontBold">@Model.profileInfo.chatterActivity.postCount</span> Post&Comment </li>
            </ul>
        </div>
    </div>

    <div id="Menu_right" class="col-md-10">
        <div class="col-md-12">
            <div class="">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#timeline" data-toggle="tab">Chatter</a></li>
                    <li><a href="#update" data-toggle="tab">Overview</a></li>
                    <li><a href="#comments" data-toggle="tab">Comments </a></li>
                    <li><a href="#schedule" data-toggle="tab">Schedule</a></li>
                </ul>
                <div class="tab-content">
                    <div id="timeline" role="tabpanel" class="tab-pane fade in active">
                        <div class="col-xs-12 col-sm-12" id="new_status">
                            <div class="col-md-12 removePadding">
                                <ul class="navbar-nav" id="post_header" role="navigation">
                                    <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>Post</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-folder-open"></span>File</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-picture"></span>Photos</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-stats"></span>Poll</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-hand-right"></span>Question</a></li>
                                </ul>
                            </div>

                            <div class="col-xs-12" id="post_content">
                                <div class="col-xs-1 col-sm-1 removePadding">
                                    <img src="@Model.profileInfo.photo.mediumPhotoUrl">
                                </div>
                                <div class="col-xs-11 col-sm-11 textarea_wrap">
                                    <textarea class="col-xs-12" placeholder="What's on your mind?"></textarea>
                                </div>
                                <div class="textarea_wrap"></div>
                            </div>
                            <div class="col-xs-12" id="post_footer">
                                <div class="col-xs-5 col-xs-offset-7">
                                    <button class="btn btn-default"><span class="glyphicon glyphicon-cog"></span>Custom<span class="caret"></span></button>
                                    <button class="btn btn-primary">Post</button>
                                </div>
                            </div>
                        </div>
                        <!-- 		<div ng-repeat="group in Groups">
                                    aaaaaaaaaaaaaaaaaaaa
                                </div> -->

                       
                            @foreach (var feed in @Model.feedProfile.elements)
                            {
                             <div id="feed" class="col-sm-12 boder_with_shadow">
                                <div class="row">
                                    <div class="col-md-1 removePadding">
                                        <img src="@feed.parent.photo.mediumPhotoUrl">
                                    </div>
                                    <div class="col-md-11 ">
                                        <a class="font_bold" href="#">@feed.header.messageSegments[0].text</a>
                                        @for (int i = 1; i < @feed.header.messageSegments.Count();i++ )
                                        {
                                            if (@feed.header.messageSegments[i].reference != null)
                                            {
                                                if (@feed.header.messageSegments[i].type == "EntityLink" )
                                                {
                                                    <a href="#">@feed.header.messageSegments[i].text</a>
                                                }
                                                else  {@feed.header.messageSegments[i].text}
                                                
                                            }
                                             else
                                             {
                                                 @feed.header.messageSegments[i].text
                                             }
                                        }
                                       
                                     
                                        <div>@feed.body.text</div>
                                        <div>@feed.createdDate</div> 
                                    </div>
                                </div>
                               <div class="row border_bottom">
                                </div>
                            <div id="like_share_comment" class="row border_bottom">
                                <a href="#" class="font_bold"><span class="glyphicon glyphicon-thumbs-up"></span> Like</a>
                                <a href="#" class="font_bold"><span class="glyphicon glyphicon-comment"></span> Comment</a>
                                <a href="#" class="font_bold"><span class="glyphicon glyphicon-share"></span> Share</a>
                            </div>
                            @if (feed.capabilities.comments.page.commentList != null)
                            {
                                foreach (var comment in feed.capabilities.comments.page.commentList)
                                {
                                       
                                    <div id="comment" class="row">
                                    <div class="background_gray">
                                        <div class="col-md-1 removePadding ">
                                            <img class="stretch_img" src="@comment.user.photo.smallPhotoUrl" alt="">
                                        </div>
                                        <div class="col-md-11 removePadding">
                                            <ul class="list-group ">
                                                <li class="list-group-item ">
                                                    <a class=" font_bold" href="#">@comment.user.name</a>
                                                    <span>
                                                        @comment.body.text
                                                    </span>
                                                </li>
                                                <li class="list-group-item">
                                                    <a href="#">Like</a>&nbsp
                                                    <span class="font_bold">July 5, 2016 at 2:54 AM  </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    </div>
                                }
                            }
                          
                        </div>
                            }

                           
                            
                    </div>

                    @*Groupppppp*@
                    <div id="update" role="tabpanel" class="tab-pane fade in">

                       
                    </div>

                    <div id="comments" role="tabpanel" class="tab-pane fade in">
                        C
                    </div>

                    <div id="schedule" role="tabpanel" class="tab-pane fade in">
                        D
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
